
@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_myLayoutPage1.cshtml";
}

<h2>Check</h2>
<div class="row">
    <div class="col-md-4">
        <p>This is body.</p>
    </div>
    @section footer{
        <p class="lead">
            This is footer section.
        </p>
    }
</div>

